.md-footer-copyright{
    display: none;
}
.md-footer-meta__inner{
    justify-content:flex-end;
}
.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg{
    width: 4rem;
}
.md-nav__item .md-nav__link--active,
.md-nav__link:focus, .md-nav__link:hover,
.md-typeset :target>.headerlink, .md-typeset .headerlink:focus, .md-typeset .headerlink:hover,
.md-tabs__link--active, .md-tabs__link:hover{
    color:#E50913;
}
.md-header-nav__button.md-logo{
    padding:0.3rem;
}
.md-header-nav__title{
    padding-left: 0;
}
.md-header-nav__topic{
    font-weight: 600;
}
.md-tabs__item a{
    font-weight: 600;
}
.md-sidebar--secondary .md-nav__list > .md-nav__item > .md-nav__link{
font-weight: 600;
}
.md-sidebar--secondary .md-nav__list > .md-nav__item .md-nav .md-nav__link{
    font-weight: normal;
}